:root {
    --colors-white: #ffffff;
    --colors-black: #010101;
    --colors-red-100: #faced0;
    --colors-red-200: #f59da1;
    --colors-red-300: #ef6b72;
    --colors-red-400: #ea3a43;
    --colors-red-500: #e50914;
    --colors-red-600: #b70710;
    --colors-red-700: #89050c;
    --colors-red-800: #5c0408;
    --colors-red-900: #2e0204;
    --colors-blue-100: #cce3fb;
    --colors-blue-200: #99c6f7;
    --colors-blue-300: #66aaf3;
    --colors-blue-400: #338def;
    --colors-blue-500: #0071eb;
    --colors-blue-600: #005abc;
    --colors-blue-700: #00448d;
    --colors-blue-800: #002d5e;
    --colors-blue-900: #00172f;
    --colors-green-100: #d5f8e3;
    --colors-green-200: #acf2c8;
    --colors-green-300: #82ebac;
    --colors-green-400: #58e590;
    --colors-green-500: #2ede75;
    --colors-green-600: #25b25d;
    --colors-green-700: #1c8546;
    --colors-green-800: #13592f;
    --colors-green-900: #092c17;
    --colors-gray-100: #e3e3e3;
    --colors-gray-200: #c8c8c8;
    --colors-gray-300: #acacac;
    --colors-gray-400: #919191;
    --colors-gray-500: #757575;
    --colors-gray-600: #5e5e5e;
    --colors-gray-700: #464646;
    --colors-gray-800: #2f2f2f;
    --colors-gray-900: #171717;
    --colors-gradients-100: linear-gradient(180deg, #000000 0%, #00000000 100%);
    --text-shadow-paragraph: 0 2 6 0 #0000008c;
    --font-families-spoqahansans: SpoqaHanSans;
    --line-heights-0: 120%;
    --line-heights-1: 130%;
    --line-heights-2: 135%;
    --line-heights-3: 150%;
    --font-weights-spoqahansans-0: Bold;
    --font-weights-spoqahansans-1: Regular;
    --font-size-0: 0.75rem;
    --font-size-1: 0.8125rem;
    --font-size-2: 0.875rem;
    --font-size-3: 0.9375rem;
    --font-size-4: 1rem;
    --font-size-5: 1.125rem;
    --font-size-6: 1.25rem;
    --font-size-7: 1.375rem;
    --font-size-8: 1.5rem;
    --font-size-9: 1.75rem;
    --font-size-10: 1.875rem;
    --font-size-11: 2.125rem;
    --font-size-12: 3rem;
    --font-size-13: 3.75rem;
    --letter-spacing-0: 0%;
    --letter-spacing-1: -0.05%;
    --paragraph-spacing-0: 0;
    --paragraph-spacing-1: 18;
    --paragraph-spacing-2: 21;
    --paragraph-spacing-3: 24;
    --paragraph-spacing-4: 27;
    --paragraph-spacing-5: 30;
    --big-title-mobile: Bold 30/120% SpoqaHanSans;
    --big-title-desktop: Bold 60/120% SpoqaHanSans;
    --description-bold-mobile: Bold 15/130% SpoqaHanSans;
    --description-mobile: Regular 13/135% SpoqaHanSans;
    --text-x-small: Regular 12/150% SpoqaHanSans;
    --text-small: Regular 14/150% SpoqaHanSans;
    --text-normal: Regular 16/150% SpoqaHanSans;
    --text-large: Regular 18/150% SpoqaHanSans;
    --text-x-large: Regular 20/150% SpoqaHanSans;
    --text-x-small-bold: Bold 12/150% SpoqaHanSans;
    --text-small-bold: Bold 14/150% SpoqaHanSans;
    --text-normal-bold: Bold 16/150% SpoqaHanSans;
    --text-large-bold: Bold 18/150% SpoqaHanSans;
    --text-x-large-bold: Bold 20/150% SpoqaHanSans;
    --title-x-small: Bold 22/120% SpoqaHanSans;
    --title-small: Bold 24/120% SpoqaHanSans;
    --title-normal: Bold 28/120% SpoqaHanSans;
    --title-large: Bold 34/120% SpoqaHanSans;
    --title-x-large: Bold 48/120% SpoqaHanSans;
    --title-2x-large: Bold 60/120% SpoqaHanSans;
    --text-case-none: none;
    --text-decoration-none: none;
    --paragraph-indent-0: 0;
}
